* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Utility Classes*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

/*End Utility Classes*/

.container {
    width: 1200px;
    margin: 30px auto;
}

section {
    width: calc(1200px / 3 - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}

.img {
    height: 600px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.info-img {
    position: absolute;
    bottom: 5px;
}


.discount {
   background-color: brown; 
   color: white;
   padding: 5px 10px;
   display: inline-block;
}

.sustainability::after {
    content: "Sostenibilità";
    padding: 5px;
    background-color: rgb(6, 87, 6);
    color: white;
}

.sustainability {
    display: inline-block;
}

.heart::after {
    content: "\2661";
}

.heart {
    background-color: white;
    font-size: 30px;
    line-height: 30px;
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: 8px;
}
   

.info {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.795);
}

.price {
    color: #e7344f;
    margin-top: 8px;
}

.not-discounted-price {
    margin-top: 8px;
}

.one {
    background-image: url('../img/1.webp');
}

.one:hover {
    background-image: url('../img/1-hover.webp');
}

.two {
    background-image: url('../img/2.webp');
}

.two:hover {
    background-image: url('../img/2-hover.webp');
}

.three {
    background-image: url('../img/3.webp');
}

.three:hover {
    background-image: url('../img/3-hover.webp');
}

.green {
    background-color: #75ac51;
    padding: 18px 20px;
}

.four {
    background-image: url('../img/4.webp');
}

.four:hover {
    background-image: url('../img/4-hover.webp');
}

.five {
    background-image: url('../img/5.webp');
}

.five:hover {
    background-image: url('../img/5-hover.webp');
}

.six {
    background-image: url('../img/6.webp');
}

.six:hover {
    background-image: url('../img/6-hover.webp');
}